<!--메인페이지-->
<!DOCTYPE html>
<html lang="en">
<head> 
     <% include ../partials/head %>
</head>

<body class="device-xxs">

    <!-- Wrapper -->
    <div id="wrapper" class="" style="animation-duration: 1500ms; opacity: 1;">
        <!-- Header -->
        <header id="header" class="header-light-transparent">
             <% include ../partials/nav %>
        </header>
        <!-- end: Header -->

        <!-- Inspiro Slider --> 
        <div id="slider" class="inspiro-slider slider-fullscreen arrows-large arrows-creative dots-creative slider-loaded" data-height-xs="360" style="height: 929px;">
            <!-- Slide 1 -->
            <div class="slide kenburns" data-parallax-image="images/parallax/6.jpg" style="height: 929px;"><div class="parallax-container parallax-responsive" data-velocity="-.090" style="background: url(images/parallax/6.jpg)"></div><div class="kenburns-bg kenburns-bg-animate" style="background-image:url(none)"></div>
                <div class="container">
                    <div class="slide-captions text-light">
                        <!-- Captions -->
                        <span data-animation="fadeInUp" data-animation-delay="300" class="strong" style="padding-top:16%;"><a href="#" class="business"><span class="business">Show your Flavor</span></a>
                        </span>
                        <h1 data-animation="fadeInUp" data-animation-delay="600">Cofflavor</h1>
                        <!-- end: Captions -->
                        <div class="row bg-half-trans wb-ka" style="padding-top:1.85714286em; margin-top:6%;">
                            <div class="col-md-3" data-animation="fadeInUp" data-animation-delay="1000">
                                <h4>손끝으로 표현하는 커피</h4>
                                <p>자신이 직접 마신 커피의 향과 풍미를 다른 플레이버들에게 표현해주세요 어떤 표현이든 좋습니다</p>
                            </div>
                            <div class="col-md-3" data-animation="fadeInUp" data-animation-delay="1200">
                                <h4>실패없는 도전</h4>
                                <p>Cofflavor에서 먼저 커피의 평을 확인해 보세요 자신에게 맞는 커피인지 확인할 수 있습니다</p>
                            </div>
                            <div class="col-md-3" data-animation="fadeInUp" data-animation-delay="1400">
                                <h4>눈으로 먼저 맛보다</h4>
                                <p>새로운 커피를 발견했을 때 눈으로 먼저 확인해 보세요 다른 플레이버들의 글들로 표현된 풍미들을 쉽게 맛볼 수 있습니다</p>
                            </div>
                            <div class="col-md-3" data-animation="fadeInUp" data-animation-delay="1600">
                                <h4>시작이 절반</h4>
                                <p>너무 많은 커피의 종류로 인해 다가가기 어렵던 커피들을 손쉽게 접하고 시도할 수 있습니다</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: Slide 1 -->
        </div>
        <!--end: Inspiro Slider -->

        <!-- Content -->
        <section id="page-content">
            <div class="container">
                <!-- Portfolio Filter -->
                <nav class="grid-filter gf-outline" data-layout="#portfolio">
                    <ul>
                        <li class="active"><a href="#" data-category="*">모두보기</a></li>
                        <li><a href="#" data-category=".pf-starbucks">스타벅스</a></li>
                        <li><a href="#" data-category=".pf-angelinus">엔젤리너스</a></li>
                        <li><a href="#" data-category=".pf-tomntoms">탐앤탐스</a></li>
                        <li><a href="#" data-category=".pf-pascucci">카페 파스쿠치</a></li>
                        <li><a href="#" data-category=".pf-paulbassett">폴바셋</a></li>
                    </ul>
                    <div class="grid-active-title">모두보기</div>
                </nav>
                <!-- end: Portfolio Filter -->

                <!-- Portfolio -->
                <div id="portfolio" class="grid-layout portfolio-3-columns grid-loaded" data-margin="30" style="margin: 0px -30px -30px 0px; position: relative; height: 521.312px;">

                      <!-- portfolio item -->
                        <% Post.forEach(function(Post) {%>
                        <div class="portfolio-item shadow img-zoom pf-<%= Post.category%>" style="padding: 0px 30px 30px 0px; position: absolute; left: 0px; top: 0px;" onclick="window.location.href='/post/show/<%=Post._id%>';">
                        <div class="portfolio-item-wrap">
                            <div class="portfolio-image">
                                <img  src="/images/<%= Post.url%>" alt="">
                            </div>
                            <div class="portfolio-description">
                                <a href="/post/show/<%=Post._id%>">
                                    <h3><%= Post.title%></h3>
                                    <span><%=(Post.star/Post.starcnt).toFixed(1)%>점</span>
                                </a>
                            </div>
                            </div>
                        </div>
                        <% }) %>
                   
                    <!--div class="portfolio-item shadow img-zoom pf-uielements pf-media pf-icons2 pf-uielements pf-graphics" style="padding: 0px 30px 30px 0px; position: absolute; left: 0px; top: 0px;">
                        <div class="portfolio-item-wrap">
                            <div class="portfolio-image">
                                <img src="/images/portfolio/66.jpg" alt="">
                            </div>
                            <div class="portfolio-description">
                                <a href="#">
                                    <h3></h3>
                                    <span>스타벅스</span>
                                </a>
                            </div>
                        </div>
                    </div-->

                </div>
                <!-- end: Portfolio -->

            </div>
        </section>

        <!-- end: Content -->

        <!-- Footer -->
  <footer id="footer" class="footer-light">
    <div class="copyright-content">
      <div class="container">
        <div class="copyright-text text-center">© 2018 COFFLAVOR -  Responsive Multi-Purpose HTML5 Template. All Rights Reserved.<a href="http://www.inspiro-media.com" target="_blank">INSPIRO</a> </div>
      </div>
    </div>
  </footer>
  <!-- end: Footer -->
    </div>
    <!-- end: Wrapper -->

    <!-- Go to top button -->
    <a id="goToTop" style="bottom: 16px; opacity: 0;"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a><!--Plugins-->
    <script src="/js/jquery.js"></script>
    <script src="/js/plugins.js"></script>

    <!--Template functions-->
    <script src="/js/functions.js"></script> 





</body>
</html>