<!DOCTYPE html>
<html lang="en">

 <head> 
   <% include ../partials/head %>
</head>
<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Section -->
        <section class="fullscreen" style="background-image: url(/images/pages/1.jpg)">
            <div class="container container-fullscreen">
                <div class="text-middle">
                    <div class="text-center m-b-30">
                        <a href="/" class="logo">
                            <img src="/images/logo_white.png" alt="Logo">
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-md-4 center p-30 background-white b-r-6">
                            <form class="form-transparent-grey" action="/users/new" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Cofflavor의 일원이 되세요 </h3>
                                        <p>유저 정보를 입력하세요. </p>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="sr-only">아이디</label>
                                        <input type="text" value="<%= user.username %>" name="username" placeholder="아이디를 입력하세요" class="form-control input-lg">
                                        <% if(errors.username){ %>
                                        <span class="help-block"><%= errors.username.message %></span>
                                        <% } %>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="sr-only">닉네임</label>
                                        <input type="text" value="<%= user.name %>" name="name" placeholder="닉네임을 입력하세요" class="form-control input-lg">
                                        <% if(errors.name){ %>
                                        <span class="help-block"><%= errors.name.message %></span>
                                        <% } %>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label class="sr-only">이메일</label>
                                        <input type="email" value="<%= user.email %>" name="email" placeholder="이메일을 입력하세요" class="form-control input-lg">
                                        <% if(errors.email){ %>
                                        <span class="help-block"><%= errors.email.message %></span>
                                        <% } %>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="sr-only">비밀번호</label>
                                        <input type="password" value="" name="password" placeholder="비밀번호를 입력하세요" class="form-control input-lg">
                                        <% if(errors.password){ %>
                                        <span class="help-block"><%= errors.password.message %></span>
                                        <% } %>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="sr-only">비밀번호 재입력</label>
                                        <input type="password" value="" name="passwordConfirmation" placeholder="비밀번호를 재입력하세요" class="form-control input-lg">
                                        <% if(errors.passwordConfirmation){ %>
                                        <span class="help-block"><%= errors.passwordConfirmation.message %></span>
                                        <% } %>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <button class="btn btn-default" type="submit">가입하기!!</button>
                                        <button type="button" class="btn btn-danger m-l-10" onClick="location.href='/'">취소ㅠ</button>
                                    </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Section -->


    </div>
    <!-- end: Wrapper -->

    <!-- Go to top button -->
    <a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a><!--Plugins-->
 <script src="/js/jquery.js"></script>
 <script src="/js/plugins.js"></script>

<!--Template functions-->
 <script src="/js/functions.js"></script> 




</body>

</html>
